h1 {
    text-align: center;
    color: red;
    }
    p {
        text-align: justify;
    }
        /* This is a comment */
    .readme {
            background-color: black;
            color: white;
            font-size: small;
            margin-left: 20px;
    }
    .image {background: url(mars.jpg) no-repeat right top fixed;
    }
    .center {text-align: center;
            background-color: blue;
            color: white;
    }
   
    #focus {text-align: end;
            background-color: aliceblue;
            color: purple;        
    }
    * {text-align: justify;
        color: brown;
    }